body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background: #d4d4d4;
  width: 100%;
  height: 100%;
  color: #000;
}
body svg {
  display: block;
  margin: auto auto;
}
body svg #base_left, body svg #bottom_left {
  fill: #57618F;
}
body svg #base_right, body svg #bottom_right {
  fill: #515b85;
}
body svg #base_bottom {
  fill: #495279;
}
body svg text {
  font-family: "Arial";
  font-size: 25pt;
  letter-spacing: 0.5em;
  color: #515b85;
}
body svg text#about {
  font-size: 8pt;
}
body #content {
  font-family: Arial;
  display: block;
  margin: auto auto;
  font-size: 8pt;
  width: 500px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 0.5em 2em;
}
body #content ul {
  list-style-type: none;
  padding: 0;
}
body #content ul li {
  padding-bottom: 1em;
}
body #content ul li:last-child {
  padding-bottom: 0;
}
body #content code {
  background: #cccccc;
  padding: 2px 5px;
  border: 1px solid #b3b3b3;
}
body #content .note {
  color: #737373;
}